<footer class="main-footer">
    <strong><a href="mailto::emmanuel.sauvage@assurance-maladie.fr">Emmanuel SAUVAGE</a>  CPAM DES
            FLANDRES </strong>

    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 2.0.0 de 2020   |      Base de gestion des partenaires
    </div>
</footer>