<article class="bg-white pt-3">
    <h5 class="text-purple p-1  text-center ">
        Adresse
    </h5>
    <div class="card-body row">
            {{ form_widget(form.add_comp1) }}
            {{ form_widget(form.add_comp2) }}
            {{ form_widget(form.add_cp) }}
            {{ form_widget(form.add_city) }}
    </div>
</article>