<article class="bg-white pt-3">
    <h5 class="text-purple p-1  text-center ">
        Mail
    </h5>
    <div class="card-body">
        <div class="mb-1">
            {{ form_widget(form.mail1) }}
        </div>
        {{ form_widget(form.mail2) }}
    </div>
</article>