<article class="bg-white ">
    <h5 class="text-purple p-1  text-center ">
        Téléphone
    </h5>
    <div class="card-body">
        <div class="row">
            <div class="col">
                {{ form_widget(form.phone1) }}
            </div>
            <div class="col">
                {{ form_widget(form.phone2) }}
            </div>
        </div>
    </div>
</article>