{%  if content %}
    <div class="card col-6 align-self-center card-white mb-5">
    <div class="card-body  ">
        <strong><i class="far fa-file-alt mr-1"></i> Description</strong>
        <p class="text-muted">{{content |raw}}</p>
    </div>
    </div>
{% endif %}