<section>
    {% if partenaire.circonscription %}
        <p class="text-center text-success">
            <i class="far fa-check-circle fa-3x "></i><br>
            Circonscription
        </p>
    {% else %}
        <p class="text-center text-warning">
            <i class="far fa-times-circle fa-3x "></i>
        </p>
    {% endif %}
</section>