<section  class="col-sm-2 ">
    <p class="text-center {{ partenaire.circonscription ?'text-success':'text-warning' }}">
        <i class="fas fa-compress-arrows-alt fa-3x"></i><br>
        Circonscription
    </p>
</section>