

<div class="card-header  " id="anchor_name">
    <h3 class="card-title  d-flex align-items-center   {{ partenaire.enable?'':'text-danger' }}">
        <i class="fas fa-database mr-2 fa-2x"></i>
        {{ partenaire.name }}
    </h3>
    <div class="card-tools pt-1">
        <a href="{{ path('category_show',{id:partenaire.category.id}) }}"
           class="text-white ">
            {% if partenaire.category %}
            {{ partenaire.category.name }}
            {% endif %}
        </a>
    </div>
</div>