<div class=" card-header bg-primary ">
    <span class="card-title d-flex align-items-center {{ partenaire.enable?'':'text-danger' }}">
        <i class="fas fa-database mr-2 fa-2x"></i>
            {{ partenaire.name }}
    </span>
</div>