{% if partenaire.phone1 or partenaire.phone1 %}
    <section  class="col-sm-6 col-md-2 ">
        <strong><i class="fa fa-phone mr-1"></i> Téléphone</strong>
        <p class="text-muted">
            {% if partenaire.phone1 %}
                {{ partenaire.phone1 }}<br/>
            {% endif %}
            {% if partenaire.phone2 %}
                {{ partenaire.phone2 }}
            {% endif %}
        </p>
    </section>
{% endif %}
