{% if contact.phone1 %}
    <li class="mt-2">
        <span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
        {% if contact.phone1 %}
            {{ contact.phone1 }}
        {% endif %}
    </li>
{% endif %}
{% if contact.phone2 %}
    <li class="mt-2">
        <span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
        {% if contact.phone2 %}
            {{ contact.phone2 }}
        {% endif %}
    </li>
{% endif %}