{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Documentation {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/datatables-bs4/css/dataTables.bootstrap4.css')) }}">
{% endblock %}

{% block body_header %}
    <div class="col">
        <h1 class="m-0 text-dark">Documentation </h1>
    </div>
    <div class="col">

    </div>
    <div class="col">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        </ol>
    </div>
{% endblock %}

{% block body %}
    <div class="row align-items-center  justify-content-center">
        <div class="col-sm-8   bg-white  p-5">
            <h3 class="text-purple ">
                <small><i class="fas fa-balance-scale"></i></small> Documentation
            </h3>
            <section class="p-3 col-12 mt-4">
                <div class="row">
                </div>
            </section>
        </div>
    </div>
{% endblock %}