<a class="btn btn-link text-primary {{  sm | default('') ?  'btn-sm' : ''  }}"
   href="{{ path(url, {'id': id}) }}{{  anchor | default('')}}">
    <i class="fas fa-step-backward"></i> {{ titre | default('Retour à la consultation') | raw }}
</a>