<a class="btn bg-indigo  {{  sm | default('') ?  'btn-sm' : ''  }}"
   href="{{ path(url, {'id': id}) }}" data-html="true"
   data-toggle="tooltip" data-placement="top" title="Ce bouton permet de modifier cet élément">
    <i class="fas fa-edit"></i>  {{ titre | default('Modifier') }}
</a>