<button class="btn btn-primary " name="recherche" id="recherche"
        data-html="true"
        data-toggle="tooltip" data-placement="top" title="Permet d'effectuer une recherche par rapport aux critères">
    <i class="fas fa-search"></i> Rechercher
</button>