<a class="btn btn-secondary {{  sm | default('') ?  'btn-sm' : ''  }}"
   href="{{ path(url) }}{{ complement | default('') }}">
    <i class="fas fa-step-backward"></i> {{ titre | default('Retour à la liste') | raw }}
</a>