<tr>
    <th>Taux</th>
    <td class="text-center">
        {{ include('share/_taux_progress_bar_label.html.twig', {'taux1': taux1,'taux2': taux2 }) }}
    </td>
    <td>
        <small class="text-muted">Les points complémentaires correspondent aux surperformances des organismes</small>
    </td>
</tr>