<div class="{{ col_secondary }}">
    <div class="card ">
        <div class="card-footer">
            Habillitations
        </div>
        <div class="card-body select2-primary">
            {{ form_widget(form.roles) }}
        </div>
    </div>


</div>