    <a href="{{ path('user_show', {'id': user.id}) }}"  class="btn btn-default m-1">

        {% if user.enable == false   %}
            <span class="text-danger" ><i class="fas fa-eye-slash"></i></span>
        {%  endif %}

        {{ user.name }}

    </a>
